@import url("palette_green.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--beige);
}

/* Navbar */
.navbar {
    background-color: var(--dark_green);
    height: 11vh;
}

.navbar-brand {
    border: 0rem;
    padding: 0rem;
}

/* Increase spacing between navbar links */
.navbar-light .navbar-nav .nav-link {
    font-size: 1rem; /* Increase link size (optional) */
    margin-right: 1rem; /* Add spacing between links */
    font-weight: 700;
    color: var(--white);
}

.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0; /* Remove margin on the last link */
    margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--yellow);
}

.tech_good {
    color: var(--white); /*#e84aa0*/
    font-size: 7vh;
    display: inline;
    align-items: center;
    font-family: "Lobster", serif; /*"Jersey 20 Charted", serif;*/
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.x {
    color: var(--yellow); /*#00ff00;*/
    font-size: 9vh;
    display: inline;
    align-item: center;
    margin: 0em;
    font-family: "Lobster", serif; /*"Jersey 20 Charted", serif;*/
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

/* Footer */
.footer {
    background-color: var(--green); /* light green (the same of navbar) */
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

@media (max-width: 900px) {
    .navbar {
        background-color: var(--dark_green);
        height: 15vh;
    }

    .menu-mobile {
        background-color: var(--beige);
        min-width: 100vw;
        min-height: 100vh;
        z-index: 1050;
    }
}

/* ... (tutto il codice precedente in common.css) ... */


/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

/* 1. FIX VISIVO: NAVBAR FULL WIDTH */
/* Applicato a Mobile e Tablet (incluso iPad Pro a 1024px) */
/* Rimuove i bordi arrotondati e forza la larghezza massima */
@media (max-width: 1024px) {
    .navbar {
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 0 !important; /* Rimuove l'effetto rounded-bottom */
        margin: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 1rem;
        /*margin-right: 1rem;*/
    }
}

/* 2. FIX MENU MOBILE: STILE DEL MENU A TENDINA */
/* Applicato solo quando scatta il menu "hamburger" di Bootstrap (sotto 992px) */
@media (max-width: 991px) {
    .navbar {
        background-color: var(--dark_green);
        min-height: 12vh; /* Altezza specifica per mobile */
    }

    .menu-mobile {
        background-color: var(--beige);

        /* Fix per evitare scroll orizzontali e coprire tutto lo schermo */
        width: 100%;
        min-width: 100%;
        left: 0;
        margin: 0;
        box-sizing: border-box;
        min-height: 100vh;
        z-index: 1050;
        margin-top: 1rem;
    }
}