import url("palette_green.css");

/* navbar */
.navbar-toggler {
    color: black;
}

/* Griglia delle card */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 50px;
}

.card {
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
}

.card-project-logo-img {
    max-width: 90%;
    min-height: 15%;
    max-height: 15%;
    object-fit: fill;
    border-radius: 5px;
    margin-bottom: 5px;
    /*margin-right: 1%;*/
    align-items: center;
}

.card-project-title-img {
    min-width: 90%;
    max-width: 90%;
    min-height: 15%;
    max-height: 15%;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 0%;
    padding-top: 5vw;     /* Adjust padding to center text */
    padding-bottom: 5vw;  /* Adjust padding to center text */
    box-sizing: border-box; /* Ensure padding doesn't affect total height */
    background-color: var(--beige);
    overflow: auto;
    color: rgb(8, 119, 119);
}

.oxanium-title-img {
  font-family: "Oxanium", sans-serif;
  font-size: 120%;
  font-weight: 500;
  font-style: normal;
  color:rgb(26, 97, 97);
}

.card_category {
    margin-left: 0%;
    vertical-align: middle;
    display: inline-flex;
    align-items: flex-start;
}

.category_item {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}

.card-category-img {
    width: 3vh;
    height: auto;
    border-radius: 3px;
    margin-right: 7px;
    float: left;
    align-items: center;
}

.card-category-name {
    align-items: center;
}

.card_stats {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}

.card_stats_info {
    margin-left: 1px;
    padding: 2px;
}

.card_github_logo {
    max-width: 7%
}

.card_gitlab_logo {
    max-width: 12%;
    vertical-align: middle;
    display: inline-flex;
}

.card_homepage_icon {
    max-width: 7%;
}

.card_stats_icons {
    margin-left: 2vh;
    margin-right: 2px;
    vertical-align: middle;
    display: inline-flex;
    min-width: 2vh;
    max-width: 2vh;
}

/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

@media (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .search-bar input[type="text"] {
        width: 80%;
    }

    .search-bar select {
        width: 40%;
    }

    .filters {
        flex-wrap: wrap;
    }

    .filters .searching-button {
        font-size: 12px;
    }

    .search-bar-logo {
    border-radius: 10px;
    max-width: 7%;
    margin-right: 30px;
    }
}