/* Increase spacing between navbar links */
.navbar-nav .nav-link {
    font-size: 1.6rem; /* Increase link size (optional) */
    margin-right: 3rem; /* Add spacing between links */
    font-weight: 700;
    color: #295833;
}

.navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0; /* Remove margin on the last link */
}

.join_us-section {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #f4f4f4; /*grigio chiaro*/
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.join_us-ul {
    display: inline-block;
    text-align: left;
}

/* About Section */
.about-section {
    padding: 1.5rem;
    text-align: center;
    background-color: #d1d3c5;
    font-size: 1.5rem;
    color: #4c524d;
}

/* Grid of categories */
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5%;
}

.category-item {
    background-color: #66BB6A; /* Verde chiaro per le categorie */
    color: white;
    text-align: center;
    border-radius: 6%;
    overflow: hidden;
}

.category-item img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    display: block;
    border-radius: 5%;
    margin-bottom: 2%;
}

.banner-content {
    display: none;
}

.category-item img:hover + .banner-content{display: block;}

.category-item a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 1%;
    border-radius: 5%;
}

.category-item a:hover {
    background-color: #81C784; /* Verde più chiaro al passaggio del mouse */
}

/* Grid of partners */
.partners-section {
    background-color: #d1d3c5;
    padding: 50px;
    text-align: center;
}

.partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 1%;
}

.partner-item {
    background-color: #b0cc96a5; /* Verde chiaro per le categorie */
    color: white;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 3vw; 
    font-size: 1vh;
}

.partner-item img {
    width: 100%;
    height: 10vw;
    object-fit: fill;
    display: block;
    border-radius: 5%;
    margin-bottom: 2%;
}

.partner-item a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 1%;
}

.partner-item a:hover {
    background-color: #81C784; /* Verde più chiaro al passaggio del mouse */
}

.partner-name {
    text-align: center;
    width: 100%;
    display: block;
}

.submit-project-button {
    font-size: 150%;
    padding: 20% 40%;
    border-radius: 10%;
    background-color: #388E3C; /* Green */
    color: white;
    border: none;
    cursor: pointer;
  }

/* Contact Section */
.contact-section {
    background-color: #d1d3c5;
    padding: 2rem;
    text-align: center;
}

/*
.contact-section form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.contact-section input, .contact-section textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
*/

.contact-section button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde chiaro per il pulsante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #388E3C; /* Verde più scuro al passaggio del mouse */
}
