:root {
    --black_green: #388E3C;
    --dark_green: #4CAF50;
    --green: #66BB6A;
    --light_green: #81C784;
    --beige: #d1d3c5;
    --white: #f4f4f4;
    --yellow: #FEFF9F;
    --grey: edf2ef; /*motto*/
    --anthracite: #4c524d;
}